.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  /*height: 100%;*/
  background-color: #fffbf8;
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 60px);
}

.logo {
  position: absolute;
  top: 30px;
  left: 35px;
  width: 200px;
}

.image-container {
  /*flex: 1;*/
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: end;*/
  align-items: center;
}

.form-container {
  /*flex: 1;*/
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.welcome-text {
  text-align: start;
  margin-bottom: 40px;
}

.login-image {
  width: 100%;
  margin-top: 50px;
}

p.login-containt{
    color: #777;
    font-family: Kreon, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    margin: 25px auto 0;
    max-width: 500px;
    width: 100%;
}

.welcome-text h1{
  color: #000;
  font-family: Kreon, serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  margin: 0 0 10px;
}
.welcome-text p{
  color: #777;
  font-family: Kreon, serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0;
}

.login-form {
  width: 100%;
  max-width: 500px;
}

.login-input {
  background-color: #fff;
  border-color: #d1d1d1;
  border-radius: 10px;
  box-shadow: none !important;
  height: auto;
  padding: 16px 22px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.login-input:focus {
  border-color: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/*input[type=checkbox]:checked {
  background-color: #d1d1d1 !important;
  color: #ffffff !important;
}
input[type='checkbox']:after {
    box-shadow: none !important;
}
input[type='checkbox'] {
    accent-color: red;
}*/

.login-button {
  background-color: #ff8156;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: auto;
  line-height: 23px;
  padding: 15px;
  width: 100%;
}

.login-button:hover {
  background-color: #ff8156 !important;
  /*border-color: #40a9ff;*/
}

.remember-me-wrapper {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;*/
}

.remember-me-wrapper .ant-form-item-control-input-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.remember-me-checkbox{
  color: #000;
  font-size: 16px;
  line-height: 22px;
}

.forgot-password {
  color: #1890ff;
  font-size: 16px;
  line-height: 22px;
}

.register-text {
  display: block;
  margin-top: 10px;
  text-align: center;
}

/*footer start here*/

footer.footer{
  background-color: #f8f8f8;
}

footer.footer hr:not([size]) {
    height: 1px;
}
footer.footer hr {
    /*margin: 1rem 0;*/
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  /*text-align: center;*/
  gap: 10px;
  padding: 20px;
  color: #333;
  font-size: 14px;
}

.footer-text, .footer-version {
  /*margin: 5px 0;*/
  font-size: 14px;
  color: #000;
  font-weight: 400;
}

/*.footer-version {
  margin: 5px 0;
}*/


/*footer end here*/

/* Media query for screen sizes below 768px */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    gap: 20px;
    height: 100%;
  }

  .image-container, .form-container {
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .login-image {
    width: 80%;
  }

  .login-form {
    max-width: 90%;
  }

  .logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 140px;
  }
}
